/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  /* position: relative;
    height: auto;
    top: 0;
    width: 100%; */
  /* max-height: 120px;
    height: 100px; */
  /* overflow-x: hidden; */

  /* position: relative;
    width: 1920px;
    height: 5041px;
  
    background: #ffffff; */
}
.header {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #f1f7ff;
}

.header .header-title {
  position: absolute;
  width: 810px;
  height: 73px;
  left: 140px;
  top: 351px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  color: #000000;
}

.logo {
  position: absolute;
  width: 215px;
  height: 142px;
  left: 140px;
  top: 20px;

  /* background: url(ask_feed-removebg-preview.png); */
}
.login-btn {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 1420px;
  top: 76px;
  background-color: #f1f7ff;
  border-color: #f1f7ff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  text-decoration: none;
  color: #3362a8;
}
.loginn {
  text-decoration: none;
  color: #3362a8;
  font-size: 30px;
  padding-right: 50px;
}
.registerr {
  text-decoration: none;
  color: #3362a8;
  font-size: 25px;
}

.register-btn {
  position: absolute;
  width: 237px;
  height: 76px;
  left: 1543px;
  top: 53px;

  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;

  /* identical to box height */

  color: #3362a8;
}
.header .header-sub {
  position: absolute;
  width: 830px;
  height: 150px;
  left: 140px;
  top: 456px;
  padding-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;

  line-height: 30px;

  color: #000000;
}

.hero-image {
  position: absolute;
  width: 438px;
  height: 643px;
  left: 1231px;
  top: 219px;
}

.next-heading {
  position: absolute;
  width: 677px;
  height: 146px;
  left: 622px;
  top: 1143px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  text-align: center;

  color: #3362a8;
}

.after-next-heading {
  position: absolute;
  width: 341px;
  height: 73px;
  left: 790px;
  top: 1477px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  color: #000000;
}

.ellipse-1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 214px;
  top: 1667px;
  border-radius: 50%;
  background: #3362a8;
}
.ellipse-1 .num-1 {
  /* position: absolute; */
  width: 24px;
  height: 73px;
  left: 234px;
  top: 1658px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;

  padding-left: 20px;
  text-align: center;

  color: #ffffff;
}

.el-head-1 {
  position: absolute;
  width: 239px;
  height: 38px;
  /* left: 224px;
    top: 1742px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.el-p-1 {
  position: absolute;
  width: 342px;
  height: 120px;
  /* left: 224px;
    top: 1788px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.ellipse-2 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 596px;
  top: 1667px;
  border-radius: 50%;
  background: #3362a8;
}

.ellipse-2 .num-2 {
  /* position: absolute; */
  width: 27px;
  height: 73px;
  left: 615px;
  top: 1658px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */
  padding-left: 20px;
  text-align: center;

  color: #ffffff;
}

.el-head-2 {
  position: absolute;
  width: 253px;
  height: 38px;
  /* left: 606px;
    top: 1742px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.el-p-2 {
  position: absolute;
  width: 359px;
  height: 90px;
  /* left: 606px;
    top: 1788px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.ellipse-3 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 995px;
  top: 1667px;
  border-radius: 50%;
  background: #3362a8;
}

.ellipse-3 .num-3 {
  /* position: absolute; */
  width: 28px;
  height: 73px;
  left: 1013px;
  top: 1658px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  text-align: center;
  padding-left: 20px;
  color: #ffffff;
}

.el-head-3 {
  position: absolute;
  width: 204px;
  height: 38px;
  /* left: 1005px;
    top: 1742px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}
.el-p-3 {
  position: absolute;
  width: 324px;
  height: 120px;
  /* left: 1005px;
    top: 1788px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.ellipse-4 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1359px;
  top: 1667px;
  border-radius: 50%;
  background: #3362a8;
}

.ellipse-4 .num-4 {
  /* position: absolute; */
  width: 34px;
  height: 73px;
  left: 1374px;
  top: 1658px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  text-align: center;
  padding-left: 15px;
  color: #ffffff;
}

.el-head-4 {
  position: absolute;
  width: 114px;
  height: 38px;
  /* left: 1369px;
    top: 1742px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.el-p-4 {
  position: absolute;
  width: 337px;
  height: 120px;
  /* left: 1369px;
    top: 1788px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.third-level-image {
  position: absolute;
  width: 604px;
  height: 575px;
  left: 191px;
  top: 2081px;
}

.third-level-head {
  position: absolute;
  width: 830px;
  height: 146px;
  left: 899px;
  top: 2241px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;

  color: #000000;
}

.third-level-para {
  position: absolute;
  width: 744px;
  height: 90px;
  left: 899px;
  top: 2406px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.fourth-level-head {
  position: absolute;
  width: 556px;
  height: 73px;
  left: 682px;
  top: 2829px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  color: #000000;
}

.box-1 {
  position: absolute;
  width: 441px;
  height: 403px;
  left: 278px;
  top: 2993px;

  background: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
  border: 1px solid #fe0061;
  border-radius: 5px;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
}

.box-img-1 {
  position: absolute;
  width: 118px;
  height: 122px;
  left: 310px;
  top: 3064px;
}
.box-head-1 {
  position: absolute;
  width: 253px;
  height: 38px;
  left: 310px;
  top: 3219px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-1 {
  position: absolute;
  width: 378px;
  height: 90px;
  left: 310px;
  top: 3265px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}
.box-2 {
  position: absolute;
  width: 440px;
  height: 403px;
  left: 740px;
  top: 2993px;

  background: #ffffff;
  border: 1px solid #fe0061;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
}

.box-img-2 {
  position: absolute;
  width: 125px;
  height: 124px;
  left: 772px;
  top: 3063px;
}

.box-head-2 {
  position: absolute;
  width: 253px;
  height: 38px;
  left: 772px;
  top: 3219px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-2 {
  position: absolute;
  width: 378px;
  height: 90px;
  left: 772px;
  top: 3265px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.box-3 {
  position: absolute;
  width: 463px;
  height: 423px;
  left: 1189px;
  top: 2973px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;

  border: 1px solid #fe0061;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
}

.box-img-3 {
  position: absolute;
  width: 130px;
  height: 128px;
  left: 1223px;
  top: 3048px;
}

.box-head-3 {
  position: absolute;
  width: 265.56px;
  height: 39.89px;
  left: 1222.64px;
  top: 3210.22px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-3 {
  position: absolute;
  width: 396.76px;
  height: 94.47px;
  left: 1222.64px;
  top: 3258.5px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.box-4 {
  position: absolute;
  width: 441px;
  height: 403px;
  left: 278px;
  top: 3416px;

  background: #ffffff;
  border: 1px solid #fe0061;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.box-img-4 {
  position: absolute;
  width: 119px;
  height: 105px;
  left: 310px;
  top: 3486px;
}

.box-head-4 {
  position: absolute;
  width: 253px;
  height: 38px;
  left: 310px;
  top: 3636px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-4 {
  position: absolute;
  width: 378px;
  height: 90px;
  left: 310px;
  top: 3682px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.box-5 {
  position: absolute;
  width: 440px;
  height: 403px;
  left: 740px;
  top: 3416px;

  background: #ffffff;
  border: 1px solid #fe0061;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.box-img-5 {
  position: absolute;
  width: 71px;
  height: 117px;
  left: 772px;
  top: 3486px;
}

.box-head-5 {
  position: absolute;
  width: 253px;
  height: 38px;
  left: 772px;
  top: 3636px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-5 {
  position: absolute;
  width: 378px;
  height: 90px;
  left: 772px;
  top: 3682px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.box-6 {
  position: absolute;
  width: 441px;
  height: 403px;
  left: 1200px;
  top: 3416px;

  background: #ffffff;
  border: 1px solid #fe0061;
  box-shadow: 0px 4px 25px rgba(254, 0, 97, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.box-img-6 {
  position: absolute;
  width: 124px;
  height: 124px;
  left: 1232px;
  top: 3486px;
}

.box-head-6 {
  position: absolute;
  width: 253px;
  height: 38px;
  left: 1232px;
  top: 3636px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.box-para-6 {
  position: absolute;
  width: 378px;
  height: 90px;
  left: 1232px;
  top: 3682px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.testimonial {
  position: absolute;
  width: 343px;
  height: 73px;
  left: 789px;
  top: 3992px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  color: #000000;
}

.testimonial-img {
  position: absolute;
  width: 178px;
  height: 178px;
  left: 487px;
  top: 4169px;

  border: 10px solid #fe0061;
  box-sizing: border-box;
}

.testimonial-box {
  position: absolute;
  width: 857px;
  height: 259px;
  left: 576px;
  top: 4128px;

  /* background: #ffffff; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.testimonial-para {
  position: absolute;
  width: 735px;
  height: 60px;
  left: 698px;
  top: 4209px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.get-started {
  position: absolute;
  width: 1920px;
  height: 348px;
  left: 0px;
  top: 4450px;

  background: #132047;
}

.get-started-head {
  position: absolute;
  width: 572px;
  height: 73px;
  left: 140px;
  top: 4550px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.get-started-para {
  position: absolute;
  width: 830px;
  height: 60px;
  left: 190px;
  top: 4638px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  /* text-align: center; */
  color: #ffffff;
}

.get-started-btn {
  position: absolute;
  width: 333px;
  height: 76px;
  left: 1294px;
  top: 4586px;

  background: #ffffff;
  border: 1px solid #225aff;
  box-sizing: border-box;
  border-radius: 5px;
}

.get-started-btn-text {
  position: absolute;
  width: 117px;
  height: 30px;
  left: 108px;
  right: 108px;
  top: 1px;
  /* bottom: 23px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  color: #3362a8;
}

.footer {
  position: absolute;
  width: 1920px;
  height: 243px;
  left: 0px;
  top: 4798px;

  background: #f1f7ff;
}

.footer-img {
  position: absolute;
  width: 215px;
  height: 142px;
  left: 140px;
  top: 4849px;
}

.footer-about-us-btn {
  position: absolute;
  width: 101px;
  height: 30px;
  left: 1255px;
  top: 4905px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  background-color: #f1f7ff;
  border-color: #f1f7ff;
  color: #3362a8;
}

.footer-contact-us-btn {
  position: absolute;
  width: 117px;
  height: 30px;
  left: 1386px;
  top: 4905px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  background-color: #f1f7ff;
  border-color: #f1f7ff;
  color: #3362a8;
}

.footer-pricing-btn {
  position: absolute;
  width: 76px;
  height: 30px;
  left: 1533px;
  top: 4905px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  background-color: #f1f7ff;
  border-color: #f1f7ff;
  color: #3362a8;
}

.footer-terms-btn {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 1639px;
  top: 4905px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  background-color: #f1f7ff;
  border-color: #f1f7ff;
  color: #3362a8;
}
