@media (min-width: 1200px) {
  .u-block-bb46-1 {
    background-image: url("np://user.desktop.nicepage.com/Site_2376428310/images/pexels-photo-7417656.jpeg?rand=0b0e");
    background-position: 50% 50%;
  }
  .u-block-bb46-2 {
    min-height: 788px;
  }
  .u-block-bb46-3 {
    margin-top: 80px;
    margin-bottom: -17px;
  }
  .u-block-bb46-4 {
    min-height: 628px;
    background-image: none;
  }
  .u-block-bb46-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-6 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bb46-7 {
    min-height: 628px;
    background-image: none;
  }
  .u-block-bb46-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-9 {
    margin-top: 109px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-bb46-1 {
    background-image: url("np://user.desktop.nicepage.com/Site_2376428310/images/pexels-photo-7417656.jpeg?rand=0b0e");
    background-position: 50% 50%;
  }
  .u-block-bb46-2 {
    min-height: 638px;
  }
  .u-block-bb46-3 {
    margin-top: 60px;
    margin-bottom: -37px;
  }
  .u-block-bb46-4 {
    background-image: none;
    min-height: 518px;
  }
  .u-block-bb46-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-6 {
    margin-top: 0;
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
  }
  .u-block-bb46-7 {
    background-image: none;
    min-height: 518px;
  }
  .u-block-bb46-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-9 {
    margin-top: 109px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 326px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .u-block-bb46-1 {
    background-image: url("np://user.desktop.nicepage.com/Site_2376428310/images/pexels-photo-7417656.jpeg?rand=0b0e");
    background-position: 50% 50%;
  }
  .u-block-bb46-2 {
    min-height: 317px;
  }
  .u-block-bb46-3 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .u-block-bb46-4 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-6 {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bb46-7 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-bb46-9 {
    margin-top: 109px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 300px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .u-block-bb46-1 {
    background-image: url("np://user.desktop.nicepage.com/Site_2376428310/images/pexels-photo-7417656.jpeg?rand=0b0e");
    background-position: 50% 50%;
  }
  .u-block-bb46-2 {
    min-height: 417px;
  }
  .u-block-bb46-3 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .u-block-bb46-4 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-bb46-6 {
    margin-top: 0;
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
  }
  .u-block-bb46-7 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-bb46-9 {
    width: auto;
    margin-top: 109px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .u-block-bb46-1 {
    background-image: url("np://user.desktop.nicepage.com/Site_2376428310/images/pexels-photo-7417656.jpeg?rand=0b0e");
    background-position: 50% 50%;
  }
  .u-block-bb46-2 {
    min-height: 417px;
  }
  .u-block-bb46-3 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .u-block-bb46-4 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-bb46-6 {
    margin-top: 0;
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
  }
  .u-block-bb46-7 {
    background-image: none;
    min-height: 100px;
  }
  .u-block-bb46-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-bb46-9 {
    margin-top: 109px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: auto;
  }
}
