/* * {
  margin: 0;
  padding: 3px;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg")
    center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 65pt;
  font-family: "Spartan";
  color: #366a83;
/* } 
.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

.form-title {
  padding-left: 58px;
  color: #277eb1;
}

.register {
  color: #366a83;
} 

.clearfix {
  color: #366a83;
  text-decoration: none;
  padding-left: 50px;
  font-size: 15pt;
}
label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 15pt;
  line-height: 24pt;
  font-family: "Spartan";
}
input {
  margin-bottom: 12pt * 2;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 12pt * 2;
  font-style: italic;
  margin: 0 0 0.5em 0;
}
span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}
input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}
input:focus,
textarea:focus {
  border: 1px solid #6bd4b1;
}
textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 12pt * 2;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;

  /* &:hover
    background: inherit
    color: #f45702
    border-bottom: 2px solid #f45702 */
/* }
::selection {
  background: rgb(255, 199, 184);
} */
/* 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
} */
/* -webkit-box-shadow: 0 0 0px 1000px #f8f4e5; inset} */
/* transition: background-color 5000s ease-in-out 0s} */

.head {
  position: absolute;
  width: 519px;
  height: 73px;
  left: 140px;
  top: 530px;

  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 73px;
  /* identical to box height */

  color: #3362a8;
}

.left-description {
  position: absolute;
  width: 667px;
  height: 76px;
  left: 140px;
  top: 621px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

.signup {
  position: relative;
  width: 1920px;
  height: 1590px;

  background: #ffffff;
}
.left-column {
  position: absolute;
  width: 894px;
  height: 1590px;
  left: 0px;
  top: 0px;

  background: #f1f7ff;
}

.clearfix {
  position: absolute;
  width: 277px;
  height: 30px;
  left: 1233px;
  top: 110px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  opacity: 0.5;
}

.name {
  position: absolute;
  width: 672px;
  height: 103px;
  left: 996px;
  top: 328px;

  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 22px;
}

.password {
  position: absolute;
  width: 672px;
  height: 103px;
  left: 996px;
  top: 462px;
  font-size: 22px;
  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
}
.email {
  position: absolute;
  width: 672px;
  height: 103px;
  left: 996px;
  top: 597px;
  font-size: 22px;
  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
}

.phone {
  position: absolute;
  width: 672px;
  height: 103px;
  left: 996px;
  top: 731px;
  font-size: 22px;
  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
}

.register {
  position: absolute;
  width: 237px;
  height: 76px;
  left: 1213px;
  top: 883px;
  font-size: 22px;
  background: #3362a8;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
}

.left-column {
  position: absolute;
  width: 894px;
  height: 1590px;
  left: 0px;
  top: 0px;

  background: #f1f7ff;
}

.divider {
  position: absolute;
  width: 672px;
  height: 0px;
  left: 996px;
  top: 1064px;

  border: 2px solid #dce1e2;
}

.OR {
  position: absolute;
  width: 28.8px;
  height: 27px;
  left: 1322px;
  top: 1030px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #3362a8;
}
.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 1314px;
  top: 1042px;

  background: #dce1e2;
}

.options {
  position: absolute;
  width: 111px;
  height: 30px;
  left: 1277px;
  top: 1135px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  opacity: 0.5;
}

.login-btn {
  position: absolute;
  width: 237px;
  height: 76px;
  left: 1543px;
  top: 87px;

  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
}

.logo {
  position: absolute;
  width: 215px;
  height: 142px;
  left: 140px;
  top: 54px;
}
.GoogleLogin {
  position: absolute;
  width: 102px;
  height: 103px;
  left: 1281px;
  top: 1202px;
  font-size: 22px;
  background: #ffffff;
  border: 1px solid #3362a8;
  box-sizing: border-box;
  border-radius: 5px;
}

.terms {
  position: absolute;
  width: 672px;
  height: 75px;
  left: 996px;
  top: 1353px;
  font-size: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;

  line-height: 25px;

  color: #000000;

  opacity: 0.5;
}
